@import "./VictoryModal.animations.css";

.modal {
  height: 400px;
  width: 500px;

  border-radius: 2rem;
  background-color: var(--color-background);
  --shadow: 0 0 1.5rem var(--color-neon-green-shadow);
  border: 3px solid var(--color-neon-green);
  box-shadow: var(--shadow), inset var(--shadow);
  color: var(--color-neon-green-bright);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-enter-active {
  opacity: 0;
}

.modal-enter-done {
  animation: fade-in var(--modal-fade-in), modal-pop-in var(--modal-pop-in);
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  animation: fade-out var(--modal-fade-in) both;
}

.text {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
}

.veil {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--color-veil);
  z-index: 1;
}

.veil-enter-active {
  opacity: 0;
}

.veil-enter-done {
  animation: fade-in var(--modal-fade-in);
}

.veil-exit {
  opacity: 1;
}

.veil-exit-active {
  animation: fade-out var(--modal-fade-in) var(--modal-fade-in) both;
}
